* {
  box-sizing: border-box;
}
/* global variable for site colors*/
:root{
      --primary: cyan;
      --secondary: gold;
      --dark: black;
      --light: white;
      --medium: gray;
  }
/*background for entire page*/
body {
    margin: 0;
    padding: 0;
}

header, header h1{
    background-size: cover;
}

header, header h1, nav a, .page-picture{
    border-bottom: solid;
    border-top: solid;
    border-color: cyan;
}

header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    max-height: 100px;

}

header h1, header nav, main h1, .work, h2{
    background: radial-gradient(white, transparent);
}

header h1{
    color:gray;
    border-color: cyan;
    font-size: 4.5vw;
}

header nav {
    padding-right: 20px;
    color: gold;
}

nav a{
    font-size: 25px;
    color: gray;
}

nav a:hover{
    color: black;
    border-color: gray;
    background-repeat: no-repeat;
}
/*end of exclusive header styling */

/**/
.page-picture {
    display: flex;
    background-image: url(../images/Brain-Tap-3.jpg);
    background-size: cover;
    min-height: 285px;
    min-width: 100vw;
}

/*style for the main content*/

main, header h1{
    padding-left: 25px;
    color: gray;
}

main p{
    color: black;
}

.workFrame, .work{
    background-color: #69a994;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
}

.work{
    border: 10px solid cyan;
    max-width: 35%;
    min-width:35%;
    min-height: 30vh;
    padding: 0 0 15px 0;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;

}


h3{
    color: white
}
body, h3{
    background: radial-gradient(ellipse at top, gold, transparent),
    radial-gradient(ellipse at bottom, cyan, transparent);
}

#horiseon {
    min-width: 70%;
    min-height: 40vh;
    background-size: cover;
}

/*project background images*/
#horiseon {
    background-image: url(../images/Horiseon-App-Screenshot.PNG);
}

#about-me{
    background-image: url(../images/prework-about-me-website-screenshot.PNG);
}

#ppfp{
    background-image: url(../images/ppfp.PNG);

}
/*end of project background images*/
#resume {

}
