* {
  box-sizing: border-box;
}
/* global variable for site colors*/
:root{
      --primary: cyan;
      --secondary: black;
      --dark: white;
      --light: gold;
      --medium: gray; 
  }
/*background for entire page*/
body {
    margin: 0;
    padding: 0;
}

header, header h1{
    background-size: cover;
}

header, header h1, nav a, .page-picture{
    border-bottom: solid;
    border-top: solid;
    border-color: var(--primary);
}

header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    max-height: 100px;

}

header h1, header nav, main h1, .work, h2{
    background: radial-gradient(var(--light), transparent);
}

header h1{
    color:var(--medium);
    border-color: var(--primary);
    font-size: 4.5vw;
}

header nav {
    padding-right: 20px;
    color: var(--secondary);
}

nav a{
    font-size: 25px;
    color: var(--medium);
    font-family: 'Orbitron', sans-serif;
}

nav a:hover{
    color: var(--dark);
    border-color: var(--medium);
    background-repeat: no-repeat;
}
/*end of exclusive header styling */

/**/
.page-picture {
    background-image: url(../images/Brain-Tap-3.jpg);
    background-size: cover;
    min-height: 285px;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

/*style for the main content*/

main, header h1{
    padding-left: 25px;
    color: var(--medium);
    font-family: 'Orbitron', sans-serif;
}

main p{
    color: var(--primary);
    border-style: solid;
    border-top: var(--primary);
    border-bottom: var(--primary);
    margin-right: 25px;
}
.workFrame a div h3{
    border-radius: 25px;
    border-style: ridge;
    border-color: var(--medium);
}

.workFrame, .work{
    background: radial-gradient(transparent, var(--dark));
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
}
.workFrame{
    margin-right: 75px;
    background: radial-gradient(ellipse at top,transparent,  var(--secondary),),
    radial-gradient(ellipse at bottom, var(--secondary),transparent);
}

.work{
    border: 5px solid var(--dark);
    max-width: 35%;
    min-width:35%;
    min-height: 30vh;
    padding: 0 0 15px 0;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 25%;

}

.toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Orbitron', sans-serif;
    border-style: outset;
    width: 400px;
    background-color: black;
    background: radial-gradient(var(--secondary), transparent);
    border-radius: 20%;
    color: var(--primary);
    border-color: var(--light);
  }
  
  /* Dark Mode */
  #dark {
    background-color:#243447;
    height: 100vh;
    color: #bebebe
   
  }

  /* Light Mode */
  #light {
    background: radial-gradient(ellipse at top, var(--medium), transparent),
    radial-gradient(ellipse at bottom, var(--medium), transparent);
    color: black;
    height: 100vh;
    --primary: white;
    --light: cyan;
    --dark: black;
  }
  
  /* Styling the Switch button */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--secondary);
    -webkit-transition: .4s;
    transition: .4s;
    border-color: white;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: gold;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--primary);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(29, 128, 210);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .row {
    margin: 20px;
    display: flex;
  }
  .col {
    margin: 20px;
  }
  
.resumeImg{
    border-style: solid;
    border-color: var(--dark);
    border-width: 5px;
    border-radius: 20%;
}

h3{
    color: white;
}
body, h3{
    background: radial-gradient(ellipse at top, var(--secondary), transparent),
    radial-gradient(ellipse at bottom, var(--secondary), transparent);
}

#Planmark {
    min-width: 70%;
    min-height: 40vh;
    background-size: cover;
}

/*project background images*/
#Planmark {
    background-image: url(../images/Planmark.PNG);
}

#PG{
    background-image: url(../images/Password-Generator.PNG);
}

#ppfp{
    background-image: url(../images/Random-Qiuz.PNG);

}
/*end of project background images*/
#resume {

}
